/* Giỏ hàng không có hàng */
.cart-none-product {
  height: 320px;
}

.main-content {
  margin: 80px auto;
}

.cart-tilte {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-top: 125px;
}

.return-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
}
.return-home > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 300px;
  height: 40px;
  padding: 20px 0px;
  background-color: #eb412f;
  border: 2px solid white;
  color: white;
}

/* Giỏ hàng có hàng */
.cart-have-product {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 10px;
}
.product-list {
  height: 30px;
  border: 2px solid black;
}
.product-total {
}

/* BẢNG SẢN PHẨM*/

.list {
  font-weight: 700;
  font-size: 15px;
}

.product-name-in-cart {
  width: 50%;
  text-align: left;
}

.product-price {
  width: 20%;
}

.product-quanity {
  width: 10%;
  text-align: left;
}

.product-subtotal {
  width: 30%;
  text-align: right;
}
tr {
  height: 30px;
}

th {
  height: 30px;
}

td {
  height: 30px;
}
